name: Continuous integration

on:
  push:
    branches:
      - main
    paths-ignore:
      - "LICENSE"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "LICENSE"

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: [self-hosted, Linux, X64]
    container: rust:1-slim

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: true

      - name: Cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Check format
        run: |
          rustup component add rustfmt
          cargo fmt -- --check

      - name: Run cargo deny
        run: |
          cargo install cargo-deny
          cargo deny check

      - name: Run tests
        run: cargo test --locked --no-fail-fast
